.hbody {
    background-image: url("img_storage/Home-background.gif");
}

.abody {
  background-color: #1d2a35;
  margin: 0%;
}

.hh1 {
    text-align: left;
    padding-left: 170px;
    color: white;
    font-size: 120px;
    font-family: 'Indie Flower', cursive;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
}

.hh2 {
    text-align: left;
    padding-left: 120px;
    color: white;
    font-size: 85px;
    font-family: 'Indie Flower', cursive;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.hbutton {
    padding: 15px 25px;
    font-family: 'Silkscreen', cursive;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    text-decoration: none;
    background-color: darkcyan;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 20%;
  }
  
  .hbutton:hover {background-color: darkcyan}
  
  .hbutton:active {
    background-color: darkcyan;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 6%;
    background-color: #060D1A;
    position: fixed;
    height: 100%;
    overflow: auto;
    float: left;
  }
  
  li a {
    display: block;
    color: #f1f1f1;
    font-family:'M PLUS 1p', sans-serif;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: black;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  .temp {
    border: 1px solid black;
    background-color: #060D1A;
    width: 100%;
    text-align: center;
  }

  .header {
    color: #f1f1f1;
    font-size: 50px;
    font-family: 'Silkscreen', cursive;
    text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 10%;
    max-height: 10%;
    width: 15%;
    float: left;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 #f1f1f1;
  }
  
  .container {
    padding: 2px 16px;
    color: #f1f1f1;
  }